GameData/Base/assets0.pk3
GameData/Base/assets1.pk3
GameData/Base/assets2.pk3
GameData/Base/assets3.pk3
GameData/WARZONE/maps/Ithor.bsp
GameData/WARZONE/maps/scarif.bsp
GameData/WzMap/tropics3.bat
GameData/WARZONE/maps/tropics3.bsp
GameData/WARZONE/maps/tropics3.srf
GameData/WARZONE/maps/tropics3.prt
GameData/WARZONE/maps/tropics3.map
